<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace ="fragments.html :: head"></head>
    <body class="bg-light">

        <nav th:replace="fragments.html :: main-nav"></nav>
            <div class = "alert alert-warning" role = "alert" th:if="${account != null && !account.emailVerified}">
                닷 스터디 가입을 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-link"> 계정 인증 이메일을 확인 </a>하세요.
            </div>

        <div class="container">
            <div class="py-5 text-center">
                <h2>닷 스터디</h2>
            </div>

            <footer th:replace="fragments.html :: footer"></footer>

        </div>


    </body>
</html>