spring:
    datasource:
      url: jdbc:h2:~/data/foody
    jpa:
      hibernate:
        ddl-auto: update

---

      spring:
        profiles: test
        datasource:
          url: jdbc:h2:mem:test