<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO">
    <Properties>
        <Property name="LOG_PATTERN">[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %-5level ${PID:-} --- [%15.15thread] %-40.40logger{36} : %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="File"
                     fileName="./logs/app.log"
                    filePattern="./logs/app.%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" fileIndex="min" />
        </RollingFile>

<!--        AsyncAppender-->
        <Async name="AsyncAppender">
            <AppenderRef ref="File"/>
        </Async>

<!--        Async Logger-->
        <RollingRandomAccessFile name="RandomAccessFile" fileName="./logs/app.log"
                          filePattern="./logs/app.%d{yyyy-MM-dd}-%i.log"
                          immediateFlush="false" append="false">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" fileIndex="min" />
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <!-- additivity : flase일 경우 root로그와 중복으로 찍히는 것을 방지 -->
        <logger name="com.example.springlog4j2" level="debug" additivity="false">
<!--         Sync   8.4t/s-->
<!--            <AppenderRef ref="File"/>-->

<!--            Async Appender 9.9t/s -->
            <AppenderRef ref="AsyncAppender"/>

<!--            Async Logger 85.7t/s -->
<!--            <AppenderRef ref="RandomAccessFile"/>-->
        </logger>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>

</Configuration>

