<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO">
    <Properties>
        <Property name="LOG_PATH">logs/app</Property>
        <Property name="FILE_PATTERN">%d{yyyy-MM-dd}-%i</Property>
        <Property name="LOG_PATTERN">[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %-5level ${PID:-} --- [%15.15thread] %-40.40logger{36} : %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="File"
                     fileName="${LOG_PATH}.log"
                     filePattern="${LOG_PATH}-${FILE_PATTERN}.log"
                     append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" fileIndex="min" />
        </RollingFile>


        <RollingFile name="AsyncFile"
                     fileName="${LOG_PATH}.log"
                     filePattern="${LOG_PATH}-${FILE_PATTERN}.log"
                     immediateFlush="false" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" fileIndex="min" />
        </RollingFile>

        <Async name="AsyncAppender" >
            <AppenderRef ref="AsyncFile" />
        </Async>

        <!-- Async Loggers will auto-flush in batches, so switch off immediateFlush. -->
        <RandomAccessFile name="RandomAccessFile"
                          fileName="${LOG_PATH}-async.log"
                          immediateFlush="false" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </RandomAccessFile>
    </Appenders>
    <Loggers>
        <logger name="com.example.springlog4j2" level="info" additivity="false" includeLocation="false">
            <!--   Sync 7.8t/s-->
<!--            <AppenderRef ref="File"/>-->

            <!--   Async Appender 15.9 t/s -->
<!--            <AppenderRef ref="AsyncAppender"/>-->

            <!--    All Async Logger 147.8 t/s-->
            <AppenderRef ref="RandomAccessFile"/>
        </logger>
        <Root level="info" includeLocation="false">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>

